body {
    all: unset;
    height: 100vh;
    width: 100%;
}

#eptop{
    background-color: black;
}

#epnav{
    color: white;
    font-weight: bolder;
    font-style: italic;
}

#navbarNavDropdown{
    padding-left: 73%;
}

#wrapper{
    height: 92.3vh;
    max-width: fit-content;
}

#sidebar-wrapper{
    background-color: black;
}

#value a{
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: bolder;
    padding: 30px;
}

#pcard{
    margin-left: 5%;
    margin-top: 7%;
}

.card{
   padding: 20px;
   border-color: black;
   color: black;
}

.card h5{
    font-weight: bolder;
    font-style: italic;
}

.card p{
    line-height: 1.3;
}

.card button{
    background-color: black;
    color: bisque;
}

#creport{
    height: 100%;
}

.carousel-item img{
    filter: brightness(0.1);
    width: 100%;
    height: 100%;
}

.carousel-item p{
    font-weight: bolder;
    font-size: larger;
    color: white;
}

#carouselExampleCaptions{
    width: 780px;
}

#review h1{
    text-align: center;
    font-weight: bolder;
}

#accordionExample{
    margin-top: 3%;
}

.accordion-item,.accordion-button,.accordion-body,.accordion-header{
    border-color: black;
    color: black;
    font-weight: bolder;
}

#chrt{
    width: 1000px;
    background-color: black;
}